objects/*
*.dSYM
.dir-locals.el
output/*
test/output/*
test/convergence/output/*
test/logs*
test/*.o
test/*.a
test/equilibrium
tmp/*
*.so
vtune/*
build/*
*__pycache__*
magpy/*.cpp
*.ipynb_checkpoints*
docs/build/*
docs/doxygen/doxyxml/*
*.DS_Store
