main
tests
logs/*
objects/*
*.dSYM
.dir-locals.el
output/*
test/output/*
test/logs*
test/*.o
test/*.a
test/convergence
test/equilibrium
tmp/*
*.ipynb
*.so
vtune/*
build/*
*__pycache__*
magpy/*.cpp
*.egg-info
docs/*
